@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --red-primary: hsl(0, 78%, 62%);
  --cyan-primary: hsl(180, 62%, 55%);
  --orange-primary: hsl(34, 97%, 64%);
  --blue-primary: hsl(212, 86%, 64%);
  --very-dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --very-light-gray: hsl(0, 0%, 98%);
  --poppins: "Poppins", sans-serif;
}
